.quantity{
   
        display: flex;
        /* height: 77px; */
        width: 100%;
        justify-content: center;
        align-items: center;
    
}
.quantity button{
    margin:5px;
    width: auto;
    padding: 1%;
    font-weight: normal;

}
.quantity p{
    text-align: center;
    justify-content: center;
}