.LoginRegisterContainer{
        width: 100%;
        display: flex;
        justify-content: center;     
}
.title{
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}